<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZR4RxCh5PItcvOu9JPls__gedT1FIm1w</string>
	<key>GCM_SENDER_ID</key>
	<string>125258690979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messenger.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>messenger-45455</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-45455.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125258690979:ios:0a1a54fbaf641c23572a16</string>
</dict>
</plist>